<% provide(:title, "Редактирование профиля") %>
<h1>Редактирование профиля</h1>

<div class = "hero-unit">
  <div class="row-fluid ">
    <div class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name, "Имя" %>
        <%= f.text_field :name %>

        <%= f.label :email, "E-mail адрес" %>
        <%= f.text_field :email %>

        <%= f.label :surname, "Фамилия" %>
        <%= f.text_field :surname %>

        <%= f.label :birthday, "Дата рождения" %>
        <%= f.date_field :birthday %>

        <%= f.label :sex, "Пол" %>
        <%= f.text_field :sex %>

        <%= f.label :password, "Пароль" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Подтверждение пароля" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :avatar, "Аватар" %>
        <%= f.file_field :avatar %>


        <div class="center padding_top_20">
          <%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</div>
