<% provide(:title, @user.name) %>
<div class="row">

          <div class="span3 hero-unit">
            <% if @user.admin? %>
              <h1 class="padding_bot_30"> ADMIN </h1>
            <% end %>
            <li>Аватар: </li>
            <%= image_tag(@user.avatar.url, size: "80", alt: "avatar", unless: @user.avatar.nil?) %>
            <li>Имя: <%= @user.name %> </li>
            <li>Фамилия: <%= @user.surname %> </li>
            <li>Дата рождения: <%= @user.birthday %> </li>
            <li>Пол: <%= fsex(@user) %> </li>


          </div>

          <div class="span6 hero-unit">
            INFO ABOUT ADS AND SO ON
          </div>

</div>
