<% provide(:title, @user.name) %>
<div class="row">

          <div class="span3 hero-unit">


            <h1> <%= @user.name %> </h1>


            <div class = "center">
              <%= image_tag(@user.avatar.url, size: "80", alt: "avatar", unless: @user.avatar.nil?) %>
            </div>

            <% unless @user.surname.to_s.strip.empty? %>
              <li>Фамилия: <%= @user.surname %> </li>
            <% end %>

            <% unless @user.birthday.to_s.strip.empty? %>
              <li>Дата рождения: <%= @user.birthday %> </li>
            <% end %>

            <li>Пол: <%= fsex(@user) %> </li>

            <li>E-mail: <%= @user.email %> </li>

            <% unless @user.telephone_number.to_s.strip.empty? %>
              <li>Телефон: <%= @user.telephone_number %> </li>
            <% end %>

            <% unless get_adress(@user).to_s.strip.empty? %>
              <li>Адрес: <%= get_adress(@user) %> </li>
            <% end %>

          </div>

          <div class="span6 hero-unit">
            INFO ABOUT ADS AND SO ON
          </div>

</div>
